@import 'tailwindcss';

@config "../../tailwind.config.ts";

@theme {
  --color-background: 0 0% 100%;
  --color-foreground: 0 0% 3.9%;

  --color-card: 0 0% 100%;
  --color-card-foreground: 0 0% 3.9%;

  --color-popover: 0 0% 100%;
  --color-popover-foreground: 0 0% 3.9%;

  --color-primary: 0 0% 9%;
  --color-primary-foreground: 0 0% 98%;

  --color-secondary: 0 0% 96.1%;
  --color-secondary-foreground: 0 0% 9%;

  --color-muted: 0 0% 96.1%;
  --color-muted-foreground: 0 0% 45.1%;

  --color-accent: 0 0% 96.1%;
  --color-accent-foreground: 0 0% 9%;

  --color-destructive: 0 84.2% 60.2%;
  --color-destructive-foreground: 0 0% 98%;

  --color-border: 0 0% 89.8%;
  --color-input: 0 0% 89.8%;
  --color-ring: 0 0% 3.9%;

  --radius: 0.5rem;

  /* Custom properties */
  --navigation-height: 3.5rem;
  --color-one: #a47aff;
  --color-two: #fe8bbb;
  --color-three: #9e7aff;

  /* Aurora animation */
  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }

  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(-50%) translateX(-50%);
    }
  }

  @keyframes border-beam {
    100% {
      offset-distance: 100%;
    }
  }
}

@theme dark {
  --color-background: oklch(21.03% 0.006 285.89); /*rgb(24, 24, 27) */
  --color-foreground: oklch(0.985 0 0);
  --color-card: 0 0% 3.9%;
  --color-card-foreground: 0 0% 98%;

  --color-popover: 0 0% 3.9%;
  --color-popover-foreground: 0 0% 98%;

  --color-primary: 0 0% 98%;
  --color-primary-foreground: 0 0% 9%;

  --color-secondary: 0 0% 14.9%;
  --color-secondary-foreground: 0 0% 98%;

  --color-muted: 0 0% 14.9%;
  --color-muted-foreground: 0 0% 63.9%;

  --color-accent: 0 0% 14.9%;
  --color-accent-foreground: 0 0% 98%;

  --color-destructive: 0 62.8% 30.6%;
  --color-destructive-foreground: 0 0% 98%;

  --color-border: 0 0% 14.9%;
  --color-input: 0 0% 14.9%;
  --color-ring: 0 0% 83.1%;
}

@font-face {
  font-family: Funnel;
  src:
    url('/fonts/FunnelDisplay-ExtraBold.woff2') format('woff2'),
    url('/fonts/FunnelDisplay-ExtraBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SourceSans;
  src:
    url('/fonts/SourceSans3-Regular.woff2') format('woff2'),
    url('/fonts/SourceSans3-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SourceSans;
  src:
    url('/fonts/SourceSans-Bold.woff2') format('woff2'),
    url('/fonts/SourceSans-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  background: #0a0b10;
  color: var(--color-foreground);
  font-family: 'SourceSans', sans-serif;
  overflow-x: hidden;
  overscroll-behavior: none;
}

.slanted-btn {
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
  border: none;
}
.slanted-border {
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.slanted-btn-2 {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  border: none;
}
.slanted-border-2 {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Funnel', sans-serif;
  font-weight: 400;
}

.animate-border-beam {
  animation: border-beam calc(var(--duration) * 1s) linear infinite;
}

.animate-aurora {
  animation: var(--animate-aurora);
}

@theme inline {
  --animate-grid: grid 15s linear infinite;

  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
